body {
    margin: 0 auto;
    padding: 0px;
    background-color: rgb(5, 92, 100);
}
.container { 
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.card { 
    background-color:wheat;
}
h1 { 
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: white;
}
form { 
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#btn { 
    background-color: mediumseagreen;
    border-radius: 5px;
    border-style: none;
    padding: 5px 8px;
    margin-left: 5px;
    color: white;
}
#btn:hover { 
    background-color: white;
    border-style: none;
    border-radius: 5px;
    color: black;
}
#searchplace {
    width: 450px;
}
input {
    
    border: none;
    background: none;
    outline: none;
} 
input::placeholder { 
    border-bottom: 3px solid white;
    color: white;
    font-size: 18px;
}