.buttons {
    display: inline-block;
    width: 700px;
    margin-left: 750px;
    margin-bottom: 80px;
    /* color: #a8df91; */
}
.btt { 
    margin: 20px;
    text-decoration: none;
    background: #346494;
    color:white;
    padding: 10px;
    border-radius: 5px;
}
.btt:hover {
    color:white;
}
a {
    color:white;
    text-decoration: none;
    cursor: pointer;
}

